.body {
  overflow-x: hidden;
}

.hero {
  margin: 0;
  height: auto;
  width: 100%;
  color: white;
  background-color: #ff5349;
  font-family: "ITC Avant Garde Gothic Std", sans-serif;
  margin-bottom: 5%;
  /* padding on small screens */
}

.section {
  background-color: #ff5349;
  height: 600px;
  display: flex;
}

.head {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem 0;
  background-color: #ff5349;
}

.head h1 {
  font-weight: 700;
  font-size: 1.5rem;
  font-family: "ITC Avant Garde Gothic Std", sans-serif; /* Added font family */
}

.aspect {
  width: 50%;
  height: 90%;
  display: flex;
  flex-direction: column;
  padding: 5rem;
}

.mainHeading {
  justify-content: center;
  font-size: 50px;
  font-family: "ITC Avant Garde Gothic Std", sans-serif;
}

.pText {
  font-family: "ITC Avant Garde Gothic", sans-serif;
  font-size: 16px;
  margin-top: 5px;
  line-height: 1.6;
}

.btn {
  width: 150px;
  height: 40px;
  margin-top: 2%;
  border-radius: 5px;
  border: none;
  color: #ff5349;
  font-weight: 600;
  font-size: 14px;

  font-family: "ITC Avant Garde Gothic Std", sans-serif;
}

.aside {
  width: 50%;
  height: 80%;
  background-color: #ff5349;

  display: flex;

  padding: 2rem;
}

.device {
  width: 300px;
  border: 6px solid black;
  border-radius: 25px;
  height: 600px;
  position: relative;
  background: linear-gradient(
    to right,
    #e0e0e0 0%,
    #ffffff 20%,
    #e0e0e0 40%,
    #e0e0e0 60%,
    #ffffff 80%,
    #e0e0e0 100%
  );
}

.volume_buttons {
  position: absolute;
  right: -8px;
  top: 15%;
  width: 6px;
  height: 60px;
  background: #000000;
  border-radius: 0 3px 3px 0;
}

.power_button {
  position: absolute;
  right: -8px;
  top: 30%;
  display: flex;
  width: 6px;
  height: 35px;
  background: #000000;
  border-radius: 0 3px 3px 0;
}

.timeline_img {
  width: 295px;
  height: 595px;
  border: 3px solid rgb(0, 0, 0);
  border-radius: 18px 18px 18px 18px;
}

.camera_icon {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  color: black;
  font-size: 14px;
}

.card_1 {
  position: absolute;
  background-color: #eeeeee;
  width: 240px;
  height: 60px;
  left: -23%;
  top: 5%;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  box-shadow: 8px 0 8px -1px rgba(197, 193, 193, 0.7);

  border-right: 2px solid rgb(197, 193, 193, 0.7);
  border-bottom: 2px solid rgba(197, 193, 193, 0.7);
}

.card_1 p {
  color: #000000;
  font-size: 14px;
  padding: 0 10px;
  text-shadow: 0 0 4px rgba(255, 255, 255, 0.3);
  font-family: "ITC Avant Garde Gothic Std", sans-serif;
  font-weight: 500;
}

.card_2 {
  position: absolute;
  background-color: #ffffff;
  width: 240px;
  height: 60px;
  right: -23%;
  top: 75%;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-shadow: 0px 0 8px 0px rgba(197, 193, 193, 0.7);
  border-left: 1px solid rgb(197, 193, 193, 0.7);
  border-bottom: 3px solid rgba(197, 193, 193, 0.7);
}

.card_2 p {
  color: #000000;
  font-size: 14px;
  padding: 0 10px;

  text-shadow: 0 0 4px rgba(255, 255, 255, 0.3);

  font-family: "ITC Avant Garde Gothic Std", sans-serif;
  font-weight: 500;
}

@media (max-width: 768px) {
  .body {
    overflow-x: hidden;
  }
  .hero {
    height: auto;
    width: 100%;
    color: white;
    background-color: #ff5349;
    font-family: "ITC Avant Garde Gothic Std", sans-serif;
    padding: 0rem 0rem;
  }

  .section {
    flex-direction: column;
    height: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0;
    margin: 0;
  }
  .aspect {
    padding: 0rem;
    width: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .mainHeading {
    font-size: 40px;
    margin-bottom: 1px;
  }
  .pText {
    padding: 1rem;
  }

  .btn {
    padding: 0.5rem 0rem;
    margin-top: 10px;
  }
  .aside {
    width: 100%;
    height: 80%;
    background-color: #ff5349;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0rem;
  }

  .device {
    max-width: 65%;
    max-height: 90%;
    top: 30px;
  }
  .timeline_img {
    max-width: 100%;
    max-height: 100%;
    border: 0px;
  }
}
@media (max-width: 480px) {
  .hero {
    width: 100%;

    padding: 0rem 0rem;
  }

  .section {
    flex-direction: column;
    height: auto;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0;
    margin: 0;
  }

  .aside {
    width: 100%;
    height: 80%;
    background-color: #ff5349;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0rem;
  }
  .btn {
    padding: 0.8rem 0rem;
    margin-top: 10px;
  }

  .device {
    max-width: 65%;
    max-height: 90%;
    top: 30px;
  }
}
